<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ricky.happyes">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".app.HappyESApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--引导页-->
        <activity android:name=".ui.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--主界面-->
        <activity android:name=".ui.main.MainActivity" />
        <!--设置-->
        <activity
            android:name=".ui.setting.SettingActivity"
            android:label="@string/title_setting" />
        <!--关于-->
        <activity
            android:name=".ui.setting.about.AboutActivity"
            android:label="@string/title_about" />
        <!--意见反馈-->
        <activity
            android:name=".ui.setting.feedback.FeedBackActivity"
            android:label="@string/title_feed_back" />
        <!--我的消息-->
        <activity
            android:name=".ui.mine.msg.MyMessageActivity"
            android:label="@string/menu_left_navigation_my_message" />
        <!--登录-->
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/title_login" />
        <!--获取验证码-->
        <activity
            android:name=".ui.code.CodeActivity"
            android:label="@string/title_code" />
        <!--注册-->
        <activity
            android:name=".ui.register.RegisterActivity"
            android:label="@string/title_register" />
        <!--重置密码-->
        <activity
            android:name=".ui.resetpass.ResetPassActivity"
            android:label="@string/title_reset_pass" />
        <!--我的收藏-->
        <activity
            android:name=".ui.mine.collection.MyCollectionActivity"
            android:label="@string/title_my_collection" />
        <!--店铺详情-->
        <activity
            android:name=".ui.main.food.shop.ShopActivity"
            android:label="@string/title_shop_detail" />
        <!--更多评论-->
        <activity
            android:name=".ui.main.food.comment.ShopCommentActivity"
            android:label="@string/shop_more_comment_list" />
        <!--更多套餐-->
        <activity
            android:name=".ui.main.food.dining.ShopDiningActivity"
            android:label="@string/shop_more_dining_list" />
        <!--套餐详情-->
        <activity
            android:name=".ui.main.food.mealdetail.MealDetailActivity"
            android:label="@string/title_meal_detail" />
        <!--景点详情-->
        <activity
            android:name=".ui.main.travel.detail.TravelDetailActivity"
            android:label="@string/title_travel_detail" />
    </application>

</manifest>